<!-- HEADER & Navigation Start -->
<header class="header">
  <div class="wrapper flex-row">
    <a href="#home">
      <img id="header-logo" src="img/bg-logo-white.png">
    </a>

    <nav class="main-nav">
      <h4><a class="nav-opt about-opt" href="#about">About</a></h4>
      <h4><a class="nav-opt skills-opt" href="#skills">Skills</a></h4>
      <h4><a class="nav-opt portfolio-opt" href="#portfolio">Portfolio</a></h4>
      <h4><a class="nav-opt contact-opt" href="#contact">Contact</a></h4>
    </nav>
    
    <img class="mob-menu" src="img/hoof-pring-white.png">
    
    <nav class="mob-nav">
      <h4><a class="nav-opt" href="#about">About</a></h4>
      <h4><a class="nav-opt" href="#skills">Skills</a></h4>
      <h4><a class="nav-opt" href="#portfolio">Portfolio</a></h4>
      <h4><a class="nav-opt" href="#contact">Contact</a></h4>
    </nav>

  </div>
</header>
<!-- HEADER & Navigation End -->

<!-- Main Content Start -->
<div class="main-container">

  <!-- Landing Start -->
  <section id="home">
    <div class="wrapper">
      <div class="landing-title">
        <h2>Brock Gledhill</h2>
        <a href="https://www.soundconcepts.com">Front-End Developer | Sound Concepts</a>
      </div>
    </div>
  </section>
  <!-- Landing End -->

  <!-- About Start -->
  <section id="about">
    <div class="wrapper">
      <h1>About <span>Me</span></h1>
      <img class="profile-img" src="img/profile.JPG">
      <div class="text-wrapper">
        <h4>I'm Brock Gledhill, a Web Developer based in Santaquin, UT.</h4>
        <h5> I'm a sports fan, artist and musician. I'm also an outdoor enthusiast and enjoy hunting, fishing and hiking with my wife Emma, and our three dogs Moose, Millie, and Coco.</h5>
      </div>
      <!-- <div class="flex-row">
        <div>
          <div class="circle-img moose"></div>
            <h5>Moose</h5>
        </div>
        <div>
          <div class="circle-img millie"></div>
          <h5>Millie</h5>
        </div>
        <div>
          <div class="circle-img coco"></div>
          <h5>Coco</h5>
        </div>
      </div> -->
    </div>
  </section>
  <!-- About End -->

  <!-- Transition -->
  <img class="mountains" src="img/mountains.png">

  <!-- Skills Start -->
  <section id="skills">
    <div class="wrapper">
      <h1><span>My</span> Skills</h1>
      <div class="phone">
        <div class="phone-speaker"></div>
        <div class="phone-screen">
          <img class="dev-mountain-logo" src="img/dev-mountain.png">
          <div class="skills-main-container">
            <div class="skills-container">
              <div class="skill-container">

                <div class="flex-row front">
                  <h4 class="skill-title">Front-End</h4>
                  <img class="arrow-icon front-arrow" src="img/arrow-icon.png">
                </div>

                <div class="skills-box front-skills">
                  <div class="flex-row">
                    <img class="skill-icon" src="img/github.png">
                    <h5 class="skill">Git</h5>
                  </div>
                  <div class="flex-row">
                    <img class="skill-icon" src="img/html.png">
                    <h5 class="skill">HTML</h5>
                  </div>
                  <div class="flex-row">
                    <img class="skill-icon" src="img/css.png">
                    <h5 class="skill">CSS</h5>
                  </div>
                  <div class="flex-row">
                    <img class="skill-icon" src="img/bootstrap.png">
                    <h5 class="skill">Bootstrap</h5>
                  </div>
                  <div class="flex-row">
                    <img class="skill-icon" src="img/js.png">
                    <h5 class="skill">Javascript</h5>
                  </div>
                  <div class="flex-row">
                    <img class="skill-icon" src="img/jquery.png">
                    <h5 class="skill">JQuery</h5>
                  </div>
                  <div class="flex-row">
                    <img class="skill-icon" src="img/angular.png">
                    <h5 class="skill">Angular</h5>
                  </div>
                  <div class="flex-row">
                    <img class="skill-icon" src="img/react.png">
                    <h5 class="skill">React</h5>
                  </div>
                </div>
              </div>

              <div class="skill-container">

                <div class="flex-row back">
                  <h4 class="skill-title">Back-End</h4>
                  <img class="arrow-icon back-arrow" src="img/arrow-icon.png">
                </div>

                <div class="skills-box back-skills">
                  <div class="flex-row">
                    <img class="skill-icon" src="img/node.png">
                    <h5 class="skill">Node.js</h5>
                  </div>
                  <div class="flex-row">
                    <img class="skill-icon" src="img/expressjs.png">
                    <h5 class="skill">Express</h5>
                  </div>
                  <div class="flex-row">
                    <img class="skill-icon" src="img/php.png">
                    <h5 class="skill">PHP</h5>
                  </div>
                  <div class="flex-row">
                    <img class="skill-icon" src="img/sql.png">
                    <h5 class="skill">SQL</h5>
                  </div>
                  <div class="flex-row">
                    <img class="skill-icon" src="img/mysql.png">
                    <h5 class="skill">MySQL</h5>
                  </div>
                  <div class="flex-row">
                    <img class="skill-icon" src="img/postgres.png">
                    <h5 class="skill">PostgreSQL</h5>
                  </div>
                  <div class="flex-row">
                    <img class="skill-icon" src="img/db.png">
                    <h5 class="skill">Database</h5>
                  </div>
                  <div class="flex-row">
                    <img class="skill-icon" src="img/apache.png">
                    <h5 class="skill">Apache</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="phone-btn"></div>
      </div>
      <div class="text-wrapper">
        <h5>I was introduced to the developing world at the DevMountain Web Developing Bootcamp. It was there that I found my passion for developing as they taught how to learn and apply technologies quickly and efficiently. Since DevMountain, I have really grown as a developer as I have had great learning and hands on experience as a full-time Front-End Developer at Sound Concepts as well as freelance and personal projects.</h5>
      </div>
    </div>
  </section>
  <!-- Skills End -->

  <!-- Transition -->
  <img class="mountains flip-mtns" src="img/mountains.png">

  <!-- Portfolio Start -->
  <section id="portfolio">
    <div class="wrapper">
      <h1><span>My</span> Portfolio</h1>
      <h5> Over the past year, I have been able to enhance and fine tune my skills building 30+ web sites/apps that are used as shareable marketing tools in our platform. <br> Here are a few examples:</h5>
      <div class="portfolio-container">
        <br>
        <div class="flex-row">
          <a class="cpu" href="http://soundconcepts.com" target="_blank">
            <div class="monitor">
              <img class="monitor-screen" src="img/sc.png">
            </div>
            <div class="keyboard"></div>
          </a>
          <a class="cpu" href="http://default.younglivingessentialoilsample.com" target="_blank">
            <div class="monitor">
              <img class="monitor-screen" src="img/young-living.png">
            </div>
            <div class="keyboard"></div>
          </a>
          <a class="cpu" href="http://default.samplerevitalu.com/" target="_blank">
            <div class="monitor">
              <img class="monitor-screen" src="img/revitalu.png">
            </div>
            <div class="keyboard"></div>
          </a>
          <a class="cpu" href="http://default.mynewyou90.com" target="_blank">
            <div class="monitor">
              <img class="monitor-screen" src="img/mannatech.png">
            </div>
            <div class="keyboard"></div>
          </a>
          <a class="cpu" href="http://default.makingmyfirst10millionbook.com/" target="_blank">
            <div class="monitor">
              <img class="monitor-screen" src="img/mmftm.png">
            </div>
            <div class="keyboard"></div>
          </a>
          <a class="cpu" href="http://default.taxdeductioncalculator.com/" target="_blank">
            <div class="monitor">
              <img class="monitor-screen" src="img/tax-estimator.png">
            </div>
            <div class="keyboard"></div>
          </a>
          <a class="cpu" href="http://default.isalookbook.com/" target="_blank">
            <div class="monitor">
              <img class="monitor-screen" src="img/isagenix.png">
            </div>
            <div class="keyboard"></div>
          </a>
          <a class="cpu" href="http://default.startyourlifemag.com/" target="_blank">
            <div class="monitor">
              <img class="monitor-screen" src="img/start-life.png">
            </div>
            <div class="keyboard"></div>
          </a>
          <a class="cpu" href="http://default.preprobioticsample.com/" target="_blank">
            <div class="monitor">
              <img class="monitor-screen" src="img/preprobiotics.png">
            </div>
            <div class="keyboard"></div>
          </a>
          <a class="cpu" href="http://default.avisaepreworkoutsample.com/" target="_blank">
            <div class="monitor">
              <img class="monitor-screen" src="img/preworkout.png">
            </div>
            <div class="keyboard"></div>
          </a>
          <a class="cpu" href="http://default.2mmsample.com/" target="_blank">
            <div class="monitor">
              <img class="monitor-screen" src="img/2mm.png">
            </div>
            <div class="keyboard"></div>
          </a>
          <a class="cpu" href="http://default.samplehale.com/" target="_blank">
            <div class="monitor">
              <img class="monitor-screen" src="img/hale.png">
            </div>
            <div class="keyboard"></div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- Portfolio End -->

  <!-- Transition -->
  <img class="mountains" src="img/mountains.png">

  <!-- Contact Start -->
  <section id="contact">
    <div class="wrapper">
      <h1>Contact <span>Me</span></h1>
      <div class="contact-container">
        <img class="logo" src="img/bg-logo-black.png">
        <div class="text-wrapper">
          <h2 class="contact-name">Brock Gledhill</h2>
          <a href="https://www.soundconcepts.com"><h5 class="title">Front-End Developer | Sound Concepts</h5></a>
        </div>
        <div class="flex-row contact-info">
          <img class="contact-icon" src="img/location.png">
          <h5>Santaquin, UT</h5>
        </div>
        <a class="flex-row contact-info" href="mailto:brockgledhill@gmail.com">
          <img class="contact-icon" src="img/email.png">
          <h5>brockgledhill@gmail.com</h5>
        </a>
        <a class="flex-row contact-info" href="tel:1-435-660-9296">
            <img class="contact-icon" src="img/phone.png">
            <h5>(435) 660-9296</h5>
        </a>
      </div>
      <h5 class="text-wrapper">If you're interested in contacting me about a potential job opportunity or need help with a project, please don't hesitate to reach out.</h5>
    </div>
  </section>
  <!-- Contact End -->

  <!-- Transition -->
  <img class="mountains footer-mtns flip-mtns" src="img/mountains.png">

  <footer>
    <div class="wrapper">
      <div class="flex-row social-links">
        <a class="social-link" href="https://github.com/brockGledhill">
          <img class="gitHub" src="img/github.png">
        </a>
        <a class="social-link" href="https://www.facebook.com/brock.n.gledhill">
          <img class="facebook" src="img/facebook.png">
        </a>
        <a class="social-link" href="https://www.linkedin.com/in/brock-gledhill-3ab198115">
          <img class="linkedIn" src="img/linkedin.png">
        </a>
      </div>
      <h6 class="copyright">© 2016 Brock Gledhill | All Rights Reserved.</h6>
    </div>
  </footer>

</div>
<!-- Main Content End -->